* {
  box-sizing: border-box;
  padding: 5px;
  margin: 5px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #9EB3C2;
}

header {
  /* padding: 20px; */
  background-color: cornflowerblue;
  box-shadow: 0px 0px 10px cyan;
}

h1 {
  font-family: 'tangerine', cursive, ;
  Margin: 10px;
  padding-top: 30px;

}


.navbar {

  margin: 0;
  padding: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in;
}

.nav-item a:hover {
  color: blue;

}

.image-wrapper {
  display: flex;
  align-items: flex-start;
  background-color:rgb(240, 236, 236);
  border-radius: 5%;
}

.image-wrapper img {
  max-width: 50%;
  margin-right: 10px;
}

.text-box{
  flex: 1;
  padding: 10px;
  align-items: center;
  padding: 20px;

}

.text-box h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.text-box p {
  font-size: 16px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
}

.text-box p:last-child {
  margin-bottom: 0;
}

.content-4 {
  margin-bottom: 15px;
}

/* .image-container {
  display: flex;
  flex-wrap: wrap;

}

.left-image {
  flex-basis: 50%;

}

.right-images {
  flex-basis: 50%;
}

.right-images img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5%;
} */

#words {
 width: 500px;
 height: 250px;
  /* border: 100px solid blueviolet; */
  border-radius: 5%;
  

}

#hopper {
  width: 500px;
  height: 250px;
  border-radius: 5%;

}

#valais {
  width: 500px;
  height: 250px;
  border-radius: 5%;

}
.content {
  margin: 0 15px 30px;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  background: rgb(240, 236, 236);
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .image-wrapper {
    flex-direction: column;
  }
  .image-wrapper img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .left-image, .right-images {
    flex-basis: 100%;
  }
}




/* 
    /*  /* When using `max-width` as the breakpoint, you must go from widest to narrowest to avoid conflict */

/* Tablets - header changes color */
/* @media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  } */

/* Large smartphones - navbar changes color */
/* @media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - image placeholders change color */
/* @media screen and (max-width: 576px) { */
/* .sample-img { */
/* background-color: #8ac4ff; */
/* }
  } */