* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

header {
    /* padding: 20px; */
    background-color: cornflowerblue;
    box-shadow: 0px 0px 10px cyan;
}

h1 {
    font-family: 'tangerine', cursive, ;
    Margin: 10px;
    padding-top: 30px;

}

.navbar {

    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: black;
    transition: all 200ms ease-in;
}

.nav-item a:hover {
    color: blue;

}


main  {
        display: flex;
    }

    aside {
        clear: both;
        float: left;
        width: 20%;
        height: 100%;
        flex: 30%;
        background-color: antiquewhite;
        padding: 20px;
        flex-wrap: wrap;
        text-align: end;
        border-right: black;
    }
    aside h2 {

        padding-right: 30px;
        font-family: Arial, Helvetica, sans-serif;
        width:80%;
      
    }
    /* .card { */
        flex: 1 0 0;
        padding: 10px;
        text-align: center;
        border-style: solid;
        border-width: 1px;
      }
      
      /* .card header { */
        padding: 20px;
        background: #13293d;
        color: #fff;
      }
      
      /* .card img { */
        /* width: 100%; */
        /* min-width: 400px; */
      }
    section {
        flex: 70%;
        disp
    }
        